---
Language:        Cpp
BasedOnStyle:  LLVM
AccessModifierOffset: -4
#BreakBeforeBinaryOperators: BOS_All
#BreakConstructorInitializers: BCIS_BeforeComma
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentWidth:     4
CommentPragmas: '^ @param'
...
